* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(224, 224, 224);
}

.container {
    width: 100%;
    margin: 0 auto;
}

section {
    width: 100%;
    padding: 10% 25%;

}

h1{
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}

form{
    margin-top: 56px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}


form input{

    background-color: white;
    font-size: 22px;
    padding: 10px;
    border : 1px solid #7d7d7d;
    width: 65%;
}


form button{
    background-color: transparent;
    color: #404040;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid black;
    height: 60px;
    cursor: pointer;
    width: 30%;
}
form button:hover{
    background-color: #d7d7d7;
  
}

form input:focus{
    outline-color: #393939;
}

ul {
    margin: 5% auto;
    width: 50%;
}

.item  {
    padding: 3px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.clicked {
    text-decoration: line-through;
}

ul li:hover{
    font-size: 21px;
 
}