* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
}

section {
    width: 100%;
    padding: 5% 25%;

}

h1, h2,h3, h4, h5, h6{
    text-align: center;
    color: #360a68;;
}

form{
    margin: 0;
    padding: 0;
}


form input,button, textarea{
    display: block;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    resize: none;
}

form button{
    background-color: #bc6fff;
    color: #ffffff;
    border-style: none;
    border-radius: 3px;
    height: 60px;
    cursor: pointer;
}
form button:hover{
    background-color: #360a68;
  
}

form input:focus{
    outline-color: #bc6fff;
}

.input-warning{
    border-color: #ffa87d;
}

.input-error{
    border-color: #ff4e4e;
}

.input-success{
    border-color: #50d100;
}

.bg-warning{
    background-color: #ffa87d;
}

.bg-error{
    background-color: #ff4e4e;
}

.bg-success{
    background-color: #50d100;
}

form p {
    margin-top: 10px;
    padding: 20px;
    color: white;
    display: none;
    text-align: center;
}